@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Witaj w TTRPG-Managerze! Ta aplikacja została stworzona w celu ułatwienia osobom prowadzącym kampanie TTRPG zarządzanie informacjami związanymi z ich grami i grupami.</p>
</div>
